*{
    margin: 0px;
    padding:0;
       font-family: 'Abril Fatface', cursive;
    font-family: 'Mea Culpa', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Spartan', sans-serif;
    text-decoration: none;
}
.tout{
    display: flex;
    align-items: center;
}
.ct{
}
.ct img{
    width: 550px;
height: 500px;
margin: 60px;
}
.nn{
    width: 22px;
}
.former{
    width: 20px;
}
.former:hover .tem{
    background-color: red;
    display:block;
}
.teme{
    background-image:linear-gradient(rgb(213, 219, 233),rgb(240, 211, 179));
    width: 450px;
    height: 510px;
    border-radius: 15px;
    position: absolute;
    top: 7%;
    bottom: 10%;
    left: 55%;
    right: 10%;
    padding-left:60px;
    padding-top: 30px;
}
.teme1{
    border-bottom: 2px solid rgb(228, 228, 228);
    padding-bottom: 11px;
}
.teme1 button{
margin-left: 180px;
border: none;
outline: none;
background-color: transparent;
border-radius: 50px;
}
#img1{
    width: 16px;

    
}
.teme1 span{
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 2px solid rgb(228, 228, 228);
    padding-bottom: 12px;
}
.tut:hover{
    border-bottom: 2px solid rgb(255, 0, 0);
    color: red;
    transition: 0.3s;
    cursor: pointer;

}
.tut img{
    width: 19px;
}
.teme3{
    padding-top: 30px;
}
.teme3 label{
    font-size: 13px;
    font-weight: bold;
}
.teme3 input{
    margin-top: 10px;
    padding: 13px 13px;
    width: 350px;
    border-radius: 6px;
    border: none;
    outline: none;
    border: 1px solid rgb(223, 223, 223);
    font-weight: bold;
}
input[type=password]{
    margin-top: 10px;
    padding: 13px 13px;
    width: 315px;
    border-radius: 6px 0 0 6px;
    outline: none;
    border: 1px solid rgb(223, 223, 223);
    font-weight: bold;
    border-right: none;
}
.mama:focus{
    border: 1px solid rgb(231, 150, 150);
    border-right: none;
    border-radius: 6px 0 0 6px;
    
}
#fo{
   padding-bottom: 20px;
   font-size: 13px;
   font-weight: bold;
}
.teme4 img{
    width: 17px;  
}
.teme4{
    padding-top: 20px;
}
.teme4 button{
    padding:10px 10px;
    margin-top: 10px;
    border-radius: 0 6px 6px 0;
    border: none; 
    outline: none;
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    border-left: none;
    position: absolute;
    cursor: pointer;
}
.teme4 button:focus{
    border: 1px solid red;
    border-left: none;
}
.teme5{
    margin-top: 12px;
}
.teme5 span{
    margin-left: 90px;
border: none;
color: rgb(255, 0, 0);
font-size: 14px;
}
.teme5 s{
    font-size: 14px;
    font-weight:60;
    color: rgb(114, 114, 114);
    margin-left: 12px;
}
.teme6{
    margin-top: 20px;
}
.teme6 input{
    width: 390px;
    padding: 13px 13px;
    border: none;
    outline: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    box-shadow: 1px 1px 13px red;
    border-radius: 8px;
}
.teme6 input:hover{
box-shadow: none;
}