.mox{
        background-color: 	#e6754f;
        padding: 8px 8px;
        padding-left: 60px;
        padding-right: 80px;
        border-radius: 5px;
        margin-top: 10px;
        font-weight: bold;
        border: none;
        color: white;
        font-size: 12px;
        display:none;
    }
    &:hover{
        display: initial;

    }
}